/* cores: 
#4d3542
#212121
#ff4d97
colocar o justify no paragrafo que escrevi sobre mim na página inicial (deixa as letras alinhadas)
*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    margin-left: 16.5%;
}

header {
    height: 55vh;
    background-color: #4d3542;

    display: flex;
    justify-content: center;
    align-items: center;
}

.introducao-pagina p {
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    font-family: "Lato", sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 450;
    font-family: "Oswald", sans-serif;

    color: white;

    margin: 0;
    text-align: center;
}

nav {
    width: 16.5%;
    height: 100vh;

    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    position: fixed;

    padding-top: 16rem;
    padding-left: 3rem;

    text-align: left;

    font-size: 14px;
    background-color: #212121;
}

#iconeTema {
    position: absolute;

    width: 30px;
    top: 30px;
    left: 30px;

    cursor: pointer;
    transition: 0.3s;
}

.paginas a {
    color: white;
    text-decoration: none;
}

.paginas a.ativa, .paginas a:hover {
    color:#ff3a9d;
}

nav > h2 {
    padding: 6%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

section {
    display: grid;
    padding-left: 6%;
    padding-top: 3%;
}

#trabalhos {
    display: flex;
    gap: 50px;
    overflow: hidden;
}

.foto-drone img {
    width: 450px;
    height: auto;
    max-width: 100%;
    transition: 0.4s;
}

.foto-drone img:hover {
    transform: scale(1.1);
}

.texto-drone > h2 {
    top: 0;
    max-width: 600px;

    font-size: 44px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;

    color: #741b47;

    text-align: center;
    text-transform: uppercase;
}

.texto-drone > p {
    text-align: justify;

    font-family: "Lato", sans-serif;
    line-height: 1.8;

    padding-top: 4%;
    max-width: 650px;
}

footer {
    text-align: center;

    padding-top: 3%;
}

.topo-footer {
    display: flex;
    gap: 7%;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 250px;
    max-width: 100%;
}

.rodape > p {
    font-family: "Lato", sans-serif;
}

.contato {
    flex-basis: 100%;
    margin-left: 20%;
}

.contato span {
    color:#212121;
}

@media (max-width: 600px) {
    header {
        min-height: 100px;
        height: 300px;

        background-color: #4d3542;    
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        margin-left: 0;
    }

    h1 {
        font-size: 50px;
        margin: 0;
        text-align: center;
    }

     nav {
        position: relative;
        width: 100%;
        height: auto;

        padding: 20px;

        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    
    nav h2 {
        padding: 0;
    }

     #iconeTema {
        position: static;
        width: 25px;
    }

    section {
        padding: 30px 20px;
    }

    #trabalhos {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .introducao-pagina{
        padding: 30px 20px;
        text-align: justify;
    }

    .texto-drone > h2 {
        font-size: 32px;
        text-align: center;
    }

    .texto-drone > p {
        text-align: justify;
    }

    .topo-footer {
        flex-direction: column;
    }

    .logo img {
        width: 150px;
    }

    .contato {
        margin-left: 0;
    }
}

/* Trocando o tema para escuro */

body.escuro section, body.escuro footer, body.escuro .introducao-pagina {
    background-color: #121212;
}

body.escuro p, body.escuro .contato span {
    color: white;
}