/* cores: 
#4d3542
#212121
#ff4d97
colocar o justify no paragrafo que escrevi sobre mim na página inicial (deixa as letras alinhadas)
*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: left;
    padding-top: 100px;
    top: 0;
    left: 0;
    right: 0;
    height: 75vh;

    background-color: #4d3542;
}

h1 {
    text-transform: uppercase;
    font-size: 90px;
    font-family: "Oswald", sans-serif;
    font-weight: 450;
    padding-left: 32rem;
    padding-top: 7rem;
    color: white;
}

nav {
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: 16rem;
    padding-left: 3rem;
    text-align: left;

    font-size: 15px;
    background-color: #212121;
}

a {
    text-decoration: none;
}

nav > h2 {
    padding: 10px;
}

section {
    display: grid;
    padding-left: 800px;
    padding-top: 50px;
}

#introducao {
    text-align: justify;
}

section > h2 {
    top: 0;
    font-size: 34px;
    text-align: left;
    font-family: "Oswald", sans-serif;
    font-weight: 450;
    color: #741b47;
    text-transform: uppercase;
}

footer {
    text-align: center;
    padding-top: 200px;
    padding-left: 250px;
}